
.sponsor-tier{
  margin-bottom: 2vh;
}

.sponsors {
  margin-top: 2vh;
  margin-bottom: 8vh;
}

.sponsors > .btn {
  margin-top: 7vh;
  margin-bottom: 2vh;
}

.sponsor-tier > .row{
  margin-left: 0;
  margin-right: 0;
}

.sponsor {
  height: 15vh;
  margin: 1.2vh;
  padding: 12px;
}

.sponsor > img {
  margin-top: auto;
  margin-bottom: auto;

}

.sponsor:hover {
  transition: .2s;
  transform: scale(1.15);
}

#Gitkraken > img {
  height:  8vh;
}



.sponsors-title {
  margin-bottom: 1.5vh;
}