<section id="faq" class="light-bg">
    <div class="container">
        <div style="display: flex; justify-content: center; align-items: center; height: 20%;  padding-top: 5%;"
             class="row justify-content-md-center">
            <h2 style="justify-content: center" class="text-center display-4">Frequently asked questions</h2>
        </div>

        <div id="faq-items-container" class="row"
             style="display: flex; justify-content: space-between; max-width: 100%; margin: 0 auto; padding-bottom: 10%; padding-top: 5%">

            {% for col in site.data.faq %}

            <div class="col-sm-4">

                {% for faq in col.data %}

                <div class="faq-item">
                    <h3 class="text-left text-muted">{{ faq.question }}</h3>
                    <p>{{ faq.answer | markdownify }}</p>
                </div>

                {% endfor %}

            </div>

            {% endfor %}

        </div>
    </div>
</section>

