<section id='sponsors' class="half-height sponsors">
    <h2 class="sponsors-title text-center display-4">Sponsors</h2>
    {% for row in site.data.sponsors %}
    <div class="row justify-content-center">
        {% for sponsor in row %}
                <a id="{{ sponsor.name }}" href="{{ sponsor.link }}" class="sponsor align-middle col-md-2 rounded row">
                    <img class="col-12" src= "/assets/images/sponsor_logos/{{ sponsor.image }}"/>
                </a>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="text-center">
        <a href="/assets/pdf/sponsordeck.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg btn-text-light">Become a sponsor</a>
    </div>
</section>