<section id="timetable">
    <div class="container">
        <div style="display: flex; justify-content: center; align-items: center; height: 20%; padding-bottom: 6%" class="row justify-content-md-center">
            <h2 class="sponsors-title text-center display-4">Hackathon Schedule</h2>
        </div>
        <div class="row">

            {% for day in site.data.timetable %}

            <div class="col-sm">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="4">{{ day.day_text }}</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for event in day.events %}

                    <tr>
                        <td>{{ event.time }}</td>
                        <td>{{ event.name }}</td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            {% endfor %}

        </div>
    </div>
</section>